body{
    background-image: url("images/marioKartItems/marioKartBackground.png");
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	font-family: 'Arial'
}
main{
	border-radius: 5px;
	background-color: #FFFFFF;
	margin-top: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: calc((100% - 200px) / 2);
	width: 200px;
}
section#boxResult{
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
    text-align: center;
    vertical-align: bottom;
	background-color: #37474F;
	color: #FFFFFF;
	font-size: 25px;
}
#itemBox{
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	background-size: 150px;
	width: 150px;
	height: 150px;
}
.a0{
    background-image: url('images/marioKartItems/ItemBox.png');
}
.a1{
	background-image: url("images/marioKartItems/banana.png");
}
.a2{
	background-image: url("images/marioKartItems/blueShell.png");
}
.a3{
	background-image: url("images/marioKartItems/bobomb.png");
}
.a4{
	background-image: url("images/marioKartItems/greenShell.png");
}
.a5{
	background-image: url("images/marioKartItems/lightning.png");
}
.a6{
	background-image: url("images/marioKartItems/mushroom.png");
}
.a7{
	background-image: url("images/marioKartItems/redShell.png");
}
.a8{
	background-image: url("images/marioKartItems/star.png");
}